<div id="<%= dom_id todo %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= todo.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= todo.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Completed:</strong>
    <%= todo.completed %>
  </p>
</div>
